$font-family-sans-serif:  "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;


$gray-light:              lighten(#000, 96.7%);

@mixin opacity-class($alpha) {
  // IE 5-7
  filter:                 alpha(opacity=$alpha*100);
  // IE 8
  -ms-filter:             "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$alpha*100})";
  // All Browsers
  -moz-opacity:           $alpha;
  -webkit-opacity:        $alpha;
  -khtml-opacity:         $alpha;
  opacity:                $alpha;
}

/*---------------------------BEGIN CUSTOM BLOCK-------------------------*/

html {

}
body {
  font-family:            $font-family-base;
  font-size:              $font-size-base;
  background-color:       $gray-light;
  /*Fixed top navbar*/
  padding-top:            70px;
}

/*----------------------------------------------------------------------*/

#navbar-custom {
  @include                opacity-class(.77);
    &:hover,
    &:focus {
      @include            opacity-class(1);
    }
}

#content-custom {
  #header-custom {

  }

  #promotion-custom {

  }

  #footer-custom {

  }

}

/*----------------------------END CUSTOM BLOCK--------------------------*/